body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 16px;
  overflow-x: hidden;
}
.no-padding {
  padding: 0;
}
.no-border {
  border: none;
}
/* MODULES - Individual site components */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}
/*======================================================================================
                              READ MORE BUTTON
=================================================================================*/
.mu-read-more-btn {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-read-more-btn:hover, .mu-read-more-btn:focus {
  color: #fff;
}
.mu-post-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  padding: 10px 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-post-btn:hover, .mu-post-btn:focus {
  color: #fff;
}
/*=======================================================================
                             NAVBAR SECTION
=======================================================================*/
#mu-menu {
  display: inline;
  float: left;
  width: 100%;
}
#mu-menu .navbar-header .navbar-brand {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
  letter-spacing: 0.5px;
}
#mu-menu .navbar-header .navbar-brand i {
  font-size: 35px;
}
#mu-menu .navbar-header .navbar-brand span {
  margin-left: 4px;
}
#mu-menu .navbar-default {
  background-color: #fff;
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin-bottom: 0px;
}
#mu-menu .navbar-default .navbar-nav li > a {
  border-bottom: 2px solid transparent;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: -1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu {
  border-radius: 0px;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu li a {
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:hover, #mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:focus {
  color: #fff;
}
#mu-menu .navbar-default .navbar-nav .open a:hover, #mu-menu .navbar-default .navbar-nav .open a:focus {
  color: #fff;
}

/* ALL SECTION */
/*scrol to top*/
.scrollToTop {
  border-radius: 4px;
  bottom: 60px;
  color: #fff;
  display: none;
  font-size: 30px;
  line-height: 50px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 0;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 999;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.scrollToTop i {
  display: block;
}
.scrollToTop span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.scrollToTop:hover,
.scrollToTop:focus {
  color: #fff;
}

/*=======================================================================================
                                                  SLIDER SECTION
===============================================================================*/
#mu-slider {
  display: inline;
  float: left;
  width: 100%;
}
#mu-slider .mu-slider-single {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#mu-slider .mu-slider-single .mu-slider-img {
  display: inline;
  float: left;
  width: 100%;
  height: 500px;
}
#mu-slider .mu-slider-single .mu-slider-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#mu-slider .mu-slider-single .mu-slider-img figure {
  height: 100%;
  width: 100%;
}
#mu-slider .mu-slider-single .mu-slider-img figure img {
  width: 100%;
  height: 100%;
}
#mu-slider .mu-slider-single .mu-slider-content {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  padding: 0 15%;
  width: 100%;
  text-align: center;
  height: 100%;
}
#mu-slider .mu-slider-single .mu-slider-content h4 {
  letter-spacing: 1px;
  margin-bottom: 0;
}
#mu-slider .mu-slider-single .mu-slider-content span {
  display: inline-block;
  height: 1px;
  width: 100px;
}
#mu-slider .mu-slider-single .mu-slider-content h2 {
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 10px;
}
#mu-slider .mu-slider-single .mu-slider-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
}
#mu-slider .mu-slider-single .mu-slider-content a {
  margin-top: 25px;
}
#mu-slider .slick-prev,
#mu-slider .slick-next {
  height: 60px;
  width: 60px;
}
#mu-slider .slick-prev:before,
#mu-slider .slick-next:before {
  color: #fff;
  font-size: 25px;
}
/*===============================================================================
                                     ACHIEVEMENTS SECTION
========================================================================================*/
#mu-service {
  display: inline;
  float: left;
  margin-top: -80px;
  width: 100%;
}
#mu-service .mu-service-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-service .mu-service-area .mu-service-single {
  background-color: #01bafd;
  color: #fff;
  display: inline;
  float: left;
  padding: 35px 25px;
  text-align: center;
  width: 33.33%;
}
#mu-service .mu-service-area .mu-service-single:nth-child(2) {
  background-color: #2ecc71;
}
#mu-service .mu-service-area .mu-service-single:nth-child(3) {
  background-color: #45a0de;
}
#mu-service .mu-service-area .mu-service-single span {
  font-size: 30px;
}
#mu-service .mu-service-area .mu-service-single h3 {
  font-size: 25px;
}
#mu-service .mu-service-area .mu-service-single p {
  font-weight: lighter;
  

}
/*====================================================================================
                                      PRINCIPAL SECTION
======================================================================================*/
#testimonials {
  background: #eee;
  padding: 80px 0;
}
#testimonials .section-title {
  text-align: center;
  font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
#testimonials .section-description {
  text-align: center;
}
#testimonials .section-title::after {   
  content: '';
  background: #007bff;
  display: block;
  height: 3px;
  width: 200px;
  margin: 6px auto 5px;
}

}

#testimonials .profile {
  text-align: center;
}

#testimonials .profile .pic {
  border-radius: 50%;
  border: 6px solid #fff;
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
  width: 260px;
}

#testimonials .profile .pic img {
  max-width: 100%;
}
#testimonials .profile .pic:hover {
  border:2px solid #01bafd;
}

#testimonials .profile h4 {
  font-weight: 700;
  color: #03C4EB;
  margin-bottom: 5px;
  text-align: center;
}

#testimonials .profile span {
  color: #333333;
  margin-left: 22%;
}

#testimonials .quote {
  position: relative;
  background: #fff;
  padding: 60px;
  margin-top: 40px;
  font-size: 16px;
  font-style: italic;
  border-radius: 5px;
  font-weight: 500;
  border:1px solid #17c0eb;
}

#testimonials .quote b {
  display: inline-block;
  font-size: 22px;
  left: -9px;
  position: relative;
  top: -8px;
}

#testimonials .quote small {
  display: inline-block;
  right: -9px;
  position: relative;
  top: 4px;
}
/*===============================================================================================
                                      FOOTER SECTION
============================================================================================================*/
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left{
  width: 40%;
}
/* The  logo */
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px;  /*'Cookie', cursive according to need*/ 
  margin: 0;
}
.footer-distributed h3 span{
  color:  #01bafd;
}
/* Footer links */
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
  font-weight: 200;
}
.footer-distributed .footer-links a:hover {
  color: #01bafd;
}
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
  width: 35%;
}
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i:hover {
  color:  #01bafd;

}
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
.footer-distributed .footer-center p a{
  color:  #01bafd;
  text-decoration: none;;
}
/* Footer Right */
.footer-distributed .footer-right{
  width: 20%;
}
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons{
  margin-top: 25px;
}
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  border: 1px solid #01bafd;
}
.footer-distributed .footer-icons a:hover {
  color: #01bafd;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 640px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    /*text-align: center;*/
  }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}
/*=================================================================
                     GALLERY PAGE
==================================================================*/
#mu-gallery {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
  background-color: #ecf0f1;
}
#mu-gallery .mu-gallery-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content {
  display: inline;
  float: left;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top {
  display: inline;
  float: left;
  margin-top: 50px;
  padding: 20px 0;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul {
  display: inline-block;
  text-align: center;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 0 5px;
  padding: 6px 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:hover, #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:focus {
  background-color: #fff;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul .active {
  background-color: #fff;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery {
  display: inline;
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-img img {
  transform: scale(1.3);
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-info {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transform: scale(1);
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-info .mu-single-gallery-info-inner {
  transform: scale(1);
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
  display: inline;
  float: left;
  height: 220px;
  overflow: hidden;
  width: 100%;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  padding-top: 70px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  transform: scale(1);
  width: 100%;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transform: scale(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner h4 {
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 0;
  text-transform: uppercase;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
#mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner a {
  color: #fff;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-gallery .mu-gallery-area #mixit-container .mix {
  display: none;
}
.gallery_title h2 {
  text-align: center;
  font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    padding-top: 10px;
}
.gallery_title h2::after {   
  content: '';
  background: #007bff;
  display: block;
  height: 3px;
  width: 200px;
  margin: 6px auto 5px;
}
#mu-page-breadcrumb .mu-page-breadcrumb-area .breadcrumb {
  text-align: center;
   background-color: #f1f2f6;
  padding: 30px 20px;
}

/*========================================================================
             RESPONSIVE DESIGN
==========================================================================*/
@media (max-width: 1199px) {
  #mu-slider .mu-slider-single .mu-slider-content {
    padding: 0 10%;
  }

  #mu-slider .mu-slider-single .mu-slider-content {
    top: 13%;
  }
}
@media (max-width: 991px) {
  #mu-menu .navbar-default .navbar-nav li > a {
    font-size: 15px;
    padding: 25px 10px;
  }

  #mu-slider .mu-slider-single .mu-slider-content h2 {
    font-size: 35px;
    line-height: 65px;
    margin-bottom: 0;
  }

  #mu-slider .mu-slider-single .mu-slider-img {
    height: 400px;
  }

  #mu-slider .mu-slider-single .mu-slider-content a {
    font-size: 15px;
    margin-top: 5px;
    padding: 5px 15px;
  }

  #mu-slider .mu-slider-single .mu-slider-content p {
    font-size: 16px;
    line-height: 1.5;
  }

  #mu-service .mu-service-area .mu-service-single h3 {
    font-size: 20px;
  }
#mu-features {
    padding: 60px 0;
  }

  .mu-title p {
    padding: 0 20px;
  }

  #mu-features .mu-features-area .mu-features-content {
    margin-top: 30px;
  }

  #mu-latest-courses {
    padding: 60px 0 90px;
  }

  /*#ourteacher {
    padding: 60px 0;       can be responsive according to requirements
    width: 100%;
  }

  #ourteacher  .teacher-item {
    margin-bottom: 30px;
  }
*/
  #mu-testimonial .mu-testimonial-area {
    padding: 0 20px;
  }

  #mu-testimonial .mu-testimonial-area .mu-testimonial-content .mu-testimonial-item .mu-testimonial-quote {
    padding: 60px 15px;
  }

  #mu-testimonial .mu-testimonial-area .mu-testimonial-content .mu-testimonial-item .mu-testimonial-quote blockquote::before {
    left: 0;
  }

  #mu-from-blog {
    padding: 60px 0;
  }

  #mu-from-blog .mu-from-blog-area .mu-from-blog-content {
    margin-top: 30px;
  }

  #mu-from-blog .mu-from-blog-area .mu-from-blog-content .mu-blog-single-item .mu-blog-meta a {
    letter-spacing: 0;
    margin-right: 5px;
  }

  #mu-from-blog .mu-from-blog-area .mu-from-blog-content .mu-blog-single-item .mu-blog-single-img .mu-blog-caption h3 {
    font-size: 20px;
  }

  #mu-course-content .mu-course-content-area .mu-sidebar {
    margin-top: 30px;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .navbar-header {
    padding: 10px 0;
  }

  #mu-menu .navbar-header .navbar-brand {
    padding-top: 10px;
  }

  .navbar-toggle {
    background-color: #01bafd;
    border-radius: 0;
  }

  .navbar-default .navbar-toggle {
    border-color: #01bafd;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #01bafd;
  }

  #mu-menu .navbar-default .navbar-nav li > a {
    padding: 15px 20px;
  }

  #mu-slider .mu-slider-single .mu-slider-content h2 {
    font-size: 30px;
    line-height: 60px;
  }

  #mu-abtus-counter {
    background-position: center center;
    background-size: cover;
  }

  #mu-abtus-counter .mu-abtus-counter-area .mu-abtus-counter-single {
    border: medium none;
    margin-bottom: 25px;
  }

  #mu-features .mu-features-area .mu-features-content .mu-single-feature {
    text-align: center;
  }

  #mu-features .mu-features-area .mu-features-content .mu-single-feature h4::after {
    display: none;
  }

  #mu-latest-courses .mu-latest-courses-area .mu-latest-courses-content .mu-latest-course-single .mu-latest-course-img .mu-latest-course-imgcaption a {
    font-size: 14px;
  }

  #mu-latest-courses .mu-latest-courses-area .mu-latest-courses-content .mu-latest-course-single .mu-latest-course-img .mu-latest-course-imgcaption span {
    font-size: 14px;
  }

  #mu-from-blog .mu-from-blog-area .mu-from-blog-content .mu-blog-single-item {
    margin-bottom: 30px;
  }

  #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget {
    margin-bottom: 30px;
    text-align: center;
  }

  #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form input[type="email"] {
    width: 50%;
    margin-right: 10px;
  }

  #about-video-popup iframe {
    height: 350px;
    width: 80%;
  }

  #about-video-popup span {
    position: absolute;
    right: 30px;
    top: 30px;
    margin-right: 0;
    margin-top: 0;
  }

  #mu-course-content {
    padding: 50px 0;
  }

  #mu-gallery {
    padding: 50px 0;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
    height: 320px;
  }
  #mu-contact {
    padding: 50px 0;
  }

  #mu-error {
    padding: 50px 0;
  }

  #mu-error .mu-error-area h2 {
    font-size: 150px;
    line-height: 1.5;
  }
}
@media (max-width: 640px) {
  #newsgalleryfooter .news-gallery-forea .negal-header-top-left .negal-top-phone {
    display: none;
  }

  #mu-slider .mu-slider-single .mu-slider-content h2 {
    font-size: 25px;
    line-height: 50px;
  }

  #mu-slider .mu-slider-single .mu-slider-img {
    height: 300px;
  }

  #mu-slider .mu-slider-single .mu-slider-content h4 {
    letter-spacing: 0;
  }

  #mu-service {
    margin-top: 30px;
  }

  #mu-service .mu-service-area .mu-service-single {
    padding: 20px 5px;
  }

  #mu-service .mu-service-area .mu-service-single h3 {
    font-size: 16px;
  }

  #mu-slider .mu-slider-single .mu-slider-img figure img {
    width: auto;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
    padding: 5px 10px;
    margin-bottom: 5px;
  }
  #mu-menu .navbar-header .navbar-brand {
  font-size: 20px;
}
#mu-menu .navbar-header .navbar-brand i {
  font-size: 25px;
}
#testimonials .profile .pic {
 margin-left: 20%;
}
#testimonials .profile span {
  color: #333333;
  margin-left: 35%;
}

}
@media (max-width: 480px) {
  #newsgalleryfooter .news-gallery-forea .negal-header-top-left .negal-top-email {
    font-size: 12px;
    margin-top: 3px;
  }

  #newsgalleryfooter .news-gallery-forea .negal-header-top-left .negal-top-email i {
    margin-right: 0;
  }

  #newsgalleryfooter .news-gallery-forea .negal-header-top-right .negal-top-social-nav li a {
    font-size: 12px;
    padding: 0 5px;
  }

  #mu-slider .mu-slider-single .mu-slider-content h2 {
    font-size: 18px;
    line-height: 35px;
  }

  #mu-slider .mu-slider-single .mu-slider-content h4 {
    font-size: 15px;
    line-height: 16px;
  }

  #mu-slider .mu-slider-single .mu-slider-content p {
    font-size: 14px;
    line-height: 1.5;
  }

  #mu-slider .mu-slider-single .mu-slider-content {
    padding: 0 2%;
  }

  #mu-slider .mu-slider-single .mu-slider-content {
    top: 5%;
  }

  #mu-slider .slick-prev, #mu-slider .slick-next {
    height: 40px;
    width: 40px;
  }

  #mu-slider .mu-slider-single .mu-slider-img {
    height: 270px;
  }

  #mu-service .mu-service-area .mu-service-single {
    padding: 20px 15px;
    width: 100%;
  }

  #mu-service .mu-service-area .mu-service-single h3 {
    font-size: 18px;
  }

  #about-video-popup iframe {
    height: 300px;
    margin: 5% auto;
    width: 80%;
  }

  #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form input[type="email"] {
    margin-right: 0;
    width: 100%;
  }

  .mu-pagination {
    text-align: center;
  }

  .mu-pagination .pagination li a {
    font-size: 14px;
    margin: 0 2px;
    padding: 5px 12px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-description h1 {
    font-size: 25px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-description h2 {
    font-size: 22px;
    line-height: 30px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-description h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-description h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li a {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
  }

  #respond input[type="text"], #respond input[type="email"], #respond input[type="url"] {
    width: 100%;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
    height: 280px;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
    margin-bottom: 10px;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 350px;
  }
}
@media (max-width: 360px) {
  #mu-about-us .mu-about-us-area .mu-about-us-left h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  #mu-testimonial .mu-testimonial-area .mu-testimonial-content .mu-testimonial-item .mu-testimonial-quote {
    padding: 40px 15px 80px;
  }

  #mu-footer .mu-footer-top {
    padding: 50px 0 10px;
  }

  .mu-pagination .pagination li a {
    padding: 5px 8px;
  }

  .mu-comments-area .comments .commentlist li .news-img {
    margin-right: 0;
  }

  .mu-comments-area .comments .commentlist .children {
    margin-left: 10px;
  }

  .mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li a {
    margin-bottom: 10px;
  }

  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
    height: 220px;
  }

  #mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 300px;
  }

  #mu-error .mu-error-area p {
    font-size: 18px;
  }

  #mu-error .mu-error-area span {
    font-size: 14px;
  }

  #mu-error .mu-error-area h2 {
    font-size: 100px;
  }
}


/*=================================================================
                      START NEWS
========================================================================*/
figure.snip1208 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  display: inline-block;
}
figure.snip1208 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
figure.snip1208 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
figure.snip1208 figcaption {
  padding: 25px;
  position: relative;
}
figure.snip1208 .date,
figure.snip1208 i {
  background-color: #01bafd;
  top: 25px;
  color: #fff;
  left: 25px;
  min-height: 60px;
  min-width: 60px;
  position: absolute;
  text-align: center;
}
figure.snip1208 .date {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
figure.snip1208 .date span {
  display: block;
  line-height: 30px;
}
figure.snip1208 .date .month {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
figure.snip1208 i {
  line-height: 60px;
  font-size: 30px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip1208 h3,
figure.snip1208 p {
  margin: 0;
  padding: 0;
}
figure.snip1208 h3 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}
figure.snip1208 p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}
figure.snip1208 button {
  border: medium none;
  padding: 10px 20px;
  background-color: #01bafd;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
}
figure.snip1208 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1208:hover img,
figure.snip1208.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1208:hover .date,
figure.snip1208.hover .date {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip1208:hover i,
figure.snip1208.hover i {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1208:hover button,
figure.snip1208.hover button {
  background-color: #117964;
}
.news_title h2 {
  text-align: center;
  font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    padding-top: 10px;
}
.news_title h2::after {   
  content: '';
  background: #007bff;
  display: block;
  height: 3px;
  width: 200px;
  margin: 6px auto 5px;
}

/*=============================================
                      END NEWS SECTION
============================================*/

/*==================================================
                      SCHOOL DESCRIPTION
==========================================*/
.page-description {
  margin-top: 1rem;    /*IF VALUES ARE 0 0 THEN NO SPACING BETWEEN UPPWER AND LOWER SECTION*/
  margin-bottom: 1rem;
}
.section-heading {
  text-transform: uppercase;
}
.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}
.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}
.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}
.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #3498db;
}
.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: #fff;/*rgba(255, 255, 255, 0.85)*/
}
.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}
.section-heading h2 {
  font-family: 'Raleway';

}
.section-heading p {
  line-height: 2.75;
  font-family: sans-serif;
}
.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}
/*Video*/
.play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#3498db 50%, rgba(101, 111, 150, 0.15) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: 45%;
  background-color: #eee;
}

  .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

  .play-btn:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(163, 163, 163, 0.4);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

  .play-btn:hover::after {
  border-left: 15px solid #f82249;
  -webkit-transform: scale(20);
  transform: scale(20);
}

  .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}


/*=============================================================
                      END SCHOOL DESCRIPTION
==============================================================*/

  /*====================================
       Teachers
   ================================ */
.trainer_area {
  /*padding-bottom: 100px;*/
  padding-top: 60%;
  }
@media (max-width: 991px) {
    .trainer_area {
      padding-bottom: 40px; }
      }


.single-trainer {
  margin-bottom: 30px; }
.single-trainer .thumb {
    position: relative;
     }
.single-trainer .meta-text {
    background: #f9f9ff;
    padding: 20px 25px;
    box-shadow: 0px 0px 30px rgba(189, 195, 199,1.0);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #ffffff; 
  }
@media (max-width: 991px) {
      .single-trainer .meta-text {
        padding: 20px 20px; }
        }
.single-trainer .meta-text h4 {
      font-size: 20px;
      margin-bottom: 0px; 
      color: #273c75;
    }
.single-trainer .meta-text .designation {
      font-size: 14px;
      margin-bottom: 30px;
    }
.single-trainer .meta-text a {
      font-size: 18px;
      margin: 0 10px; } 
.single-trainer:hover .meta-text {
    box-shadow: 0px 10px 30px rgba(127, 140, 141,1.0);
     }
.trainer_area .main_title {
  text-align: center;

}
.trainer_area h2::after {    
  content: '';
  background: #007bff;
  display: block;
  height: 3px;
  width: 200px;
  margin: 6px auto 5px;
}
.trainer_area .main_title p {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  padding-top: 20px;
  background-color:#f5f6fa;

}
.single-trainer .tilt {
transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
 
.single-trainer .tilt:hover {
   filter: brightness(100%);
  transform: scale(1.02);
}

/*========================================================
 NEWS BLOG PAGE
==================================================================*/
.mu-blog-archive .mu-blog-single-item {
  margin-bottom: 35px;
}

.mu-blog-single .mu-blog-single-item {
  background-color: #FFF;
  padding-bottom: 30px;
}
.mu-blog-single .mu-blog-single-item .mu-blog-caption {
  padding: 0 15px;
}
.mu-blog-single .mu-blog-single-item .mu-blog-meta {
  padding: 0 15px;
}
.mu-blog-single .mu-blog-single-item .mu-blog-description {
  padding: 0 15px 30px;
}
.mu-blog-single .mu-blog-single-item .mu-blog-description ul {
  padding-left: 20px;
}
.mu-blog-single .mu-blog-single-item .mu-blog-description ul li {
  line-height: 1.8;
  padding-left: 25px;
  position: relative;
}
.mu-blog-single .mu-blog-single-item .mu-blog-description ul li:before {
  content: '\f14a';
  font-family: fontAwesome;
  position: absolute;
  left: 0;
}
.mu-blog-single .mu-blog-single-item .mu-blog-tags {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-single .mu-blog-single-item .mu-blog-tags .mu-news-single-tagnav {
  display: inline-block;
  padding: 0 15px;
  color: #341f97;
}
.mu-blog-single .mu-blog-single-item .mu-blog-tags .mu-news-single-tagnav li {
  display: inline-block;
}
.mu-blog-single .mu-blog-single-item .mu-blog-tags .mu-news-single-tagnav li:first-child {
  font-size: 16px;
}
.mu-blog-single .mu-blog-single-item .mu-blog-tags .mu-news-single-tagnav li a {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-single .mu-blog-single-item .mu-blog-social {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
}
.mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav {
  display: inline-block;
  padding: 0 15px;
  color: #341f97;
}
.mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li {
  display: inline-block;
}
.mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li:first-child {
  font-size: 16px;
}
.mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li a {
  font-size: 15px;
  border: 1px solid #01bafd;
  display: inline-block;
  min-width: 35px;
  text-align: center;
  margin: 0 5px;
  height: 35px;
  line-height: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li a:hover, .mu-blog-single .mu-blog-single-item .mu-blog-social .mu-news-social-nav li a:focus {
  color: #fff;
}

.mu-blog-single-navigation {
  display: inline;
  float: left;
  padding: 20px 0;
  width: 100%;
  margin-top: 30px;
}
.mu-blog-single-navigation a {
  border: 1px solid #888;
  color: #333;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  padding: 10px 20px;
  transition: all 0.5s ease 0s;
}
.mu-blog-single-navigation a:hover, .mu-blog-single-navigation a:focus {
  color: #fff;
}
.mu-blog-single-navigation .mu-blog-prev {
  float: left;
}
.mu-blog-single-navigation .mu-blog-prev span {
  margin-right: 10px;
}
.mu-blog-single-navigation .mu-blog-next {
  float: right;
}
.mu-blog-single-navigation .mu-blog-next span {
  margin-left: 10px;
}

.mu-comments-area {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 20px;
}
.mu-comments-area h3 {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}
.mu-comments-area .comments {
  float: left;
  display: inline;
  margin-top: 20px;
  width: 100%;
}
.mu-comments-area .comments .commentlist li {
  border-bottom: 1px solid #ddd;
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  width: 100%;
}
.mu-comments-area .comments .commentlist li .news-img {
  background-color: #ccc;
  height: 90px;
  margin-right: 20px;
  width: 90px;
}
.mu-comments-area .comments .commentlist li .media-body p {
  margin-bottom: 0px;
}
.mu-comments-area .comments .commentlist li .media-body .author-name {
  margin-bottom: 0px;
  margin-top: 0;
}
.mu-comments-area .comments .commentlist li .comments-date {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.mu-comments-area .comments .commentlist li .reply-btn {
  border: 1px solid #888;
  color: #333;
  display: inline-block;
  font-size: 15px;
  line-height: 13px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 8px 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-comments-area .comments .commentlist li .reply-btn span {
  margin-left: 5px;
}
.mu-comments-area .comments .commentlist li .reply-btn:hover, .mu-comments-area .comments .commentlist li .reply-btn:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
.mu-comments-area .comments .commentlist li .children {
  margin-left: 50px;
}
.mu-comments-area .comments .commentlist li .author-tag {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding: 4px 8px;
}
.mu-comments-area .comments .commentlist li .author-comments {
  background-color: #f8f8f8;
}
.mu-comments-area .comments .commentlist .children {
  margin-left: 25px;
}
.mu-comments-area .comments .comments-pagination {
  display: inline-block;
  text-align: left;
}
.mu-comments-area .comments .comments-pagination li {
  display: inline-block;
}
.mu-comments-area .comments .comments-pagination li a {
  background-color: transparent;
  border: medium none;
  color: #555;
  display: inline-block;
  font-size: 15px;
  height: 25px;
  line-height: 15px;
  padding: 5px;
  text-align: center;
  width: 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-comments-area .comments .comments-pagination li a:hover, .mu-comments-area .comments .comments-pagination li a:focus {
  background-color: transparent;
  text-decoration: none;
  outline: none;
}
.mu-comments-area .comments .commentlist > li:last-child {
  margin-bottom: 0px;
}

#respond {
  display: inline;
  float: left;
  margin-top: 25px;
  width: 100%;
}
#respond .reply-title {
  font-size: 25px;
  margin-top: 0;
}
#respond .comment-notes {
  font-size: 15px;
  margin-bottom: 25px;
}
#respond .required {
  color: red;
}
#respond label {
  display: block;
}
#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"] {
  border: 1px solid #ccc;
  color: #555;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
  width: 65%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#respond textarea {
  border: 1px solid #ccc;
  color: #555;
  margin-bottom: 5px;
  padding: 10px;
  height: 200px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#respond input[type="submit"] {
  margin-top: 10px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-popular-courses .media .media-left .media-object {
  width: 70px;
  height: 60px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:before {
  content: "\f101";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 5px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:hover, #mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:focus {
  margin-left: 5px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a {
  color: #333;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
#mu-page-breadcrumb {
  background-color: #333;
  display: inline;
  float: left;
  padding: 30px 0;
  width: 100%;
}
#mu-page-breadcrumb .mu-page-breadcrumb-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-page-breadcrumb .mu-page-breadcrumb-area h2 {
  text-align: center;
  color: #fff;
}
#mu-page-breadcrumb .mu-page-breadcrumb-area .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}
#mu-page-breadcrumb .mu-page-breadcrumb-area .breadcrumb li {
  color: #fff;
}
#mu-page-breadcrumb .mu-page-breadcrumb-area .breadcrumb li a {
  color: #fff;
}

#mu-course-content {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#mu-course-content .mu-course-content-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-course-content .mu-course-content-area .mu-course-container {
  display: inline;
  float: left;
  width: 100%;
}
#mu-course-content .mu-course-content-area .mu-course-container .mu-latest-course-single {
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
#mu-course-content .mu-course-content-area .mu-sidebar {
  display: inline;
  float: left;
  width: 100%;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar {
  background-color: #FFF;
  display: inline;
  float: left;
  margin-bottom: 25px;
  padding: 0 10px 10px;
  width: 100%;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg {
  padding-left: 15px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a {
  color: #333;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:hover, #mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:focus {
  margin-left: 5px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:before {
  content: "\f101";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 5px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-popular-courses {
  display: inline;
  float: left;
  margin-top: 10px;
  width: 100%;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-popular-courses .media .media-left .media-object {
  width: 70px;
  height: 60px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-popular-courses .media .media-body .media-heading {
  font-size: 16px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-popular-courses .media .media-body .media-heading a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-popular-courses .media .media-body .popular-course-price {
  font-size: 14px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-archives li a:before {
  content: '\f0da';
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .mu-sidebar-archives li a span {
  margin-left: 5px;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .tag-cloud {
  display: inline;
  float: left;
  margin-top: 5px;
  width: 100%;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar .tag-cloud a {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.3px;
  margin: 0 5px 10px;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-course-content .mu-course-content-area .mu-course-details {
  background-color: #FFF;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single {
  border: none;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-imgcaption {
  background-color: #FFF;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content h2 {
  line-height: 1.7;
  margin-bottom: 20px;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content h4 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content p {
  font-size: 15px;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content ul {
  margin-bottom: 30px;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content ul li {
  margin-bottom: 10px;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content ul li span:first-child {
  display: inline-block;
  min-width: 150px;
  float: left;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content .table {
  margin-top: 10px;
}

.mu-pagination {
  display: inline;
  float: left;
  width: 100%;
}
.mu-pagination .pagination li:first-child a {
  border-radius: 0;
}
.mu-pagination .pagination li:first-child a span {
  margin-right: 5px;
}
.mu-pagination .pagination li:last-child a {
  border-radius: 0;
}
.mu-pagination .pagination li:last-child a span {
  margin-left: 5px;
}
.mu-pagination .pagination li a {
  color: #333;
  margin: 0 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-pagination .pagination li a:hover, .mu-pagination .pagination li a:focus {
  color: #fff;
}
.mu-pagination .pagination .active a {
  color: #fff;
}

.mu-related-item {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
}
.mu-related-item .mu-related-item-area {
  margin-top: 30px;
}
.mu-related-item .mu-related-item-area .mu-latest-course-single {
  border: 1px solid #ccc;
}
.mu-related-item .mu-related-item-area .mu-blog-single-item {
  background-color: #FFF;
}
.mu-related-item .mu-related-item-area .mu-blog-single-item .mu-blog-caption {
  padding: 0 15px;
}
.mu-related-item .mu-related-item-area .mu-blog-single-item .mu-blog-meta {
  padding: 0 15px;
}
.mu-related-item .mu-related-item-area .mu-blog-single-item .mu-blog-description {
  padding: 0 15px 20px;
}
.mu-related-item .mu-related-item-area #mu-related-item-slide .slick-prev,
.mu-related-item .mu-related-item-area #mu-related-item-slide .slick-next {
  height: 50px;
  width: 50px;
}

/*==================
 FROM BLOG SECTION
====================*/
#mu-from-blog {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#mu-from-blog .mu-from-blog-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-from-blog .mu-from-blog-area .mu-from-blog-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.mu-blog-single-item {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-single-item .mu-blog-single-img {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-single-item .mu-blog-single-img a {
  display: block;
}
.mu-blog-single-item .mu-blog-single-img a img {
  width: 100%;
}
.mu-blog-single-item .mu-blog-single-img .mu-blog-caption {
  display: inline;
  float: left;
  width: 100%;

}
.mu-blog-single-item .mu-blog-single-img .mu-blog-caption h3 a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-single-item .mu-blog-meta {
  display: inline;
  float: left;
  margin-bottom: 15px;
  width: 100%;
  margin-top: 5px;
}
.mu-blog-single-item .mu-blog-meta a {
  display: inline-block;
  float: left;
  letter-spacing: 0.5px;
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-single-item .mu-blog-meta span {
  display: inline-block;
  float: left;
}
.mu-blog-single-item .mu-blog-meta span i {
  margin-right: 7px;
}
.mu-blog-single-item .mu-blog-description {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-single-item .mu-blog-description p {
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.7;
}
.mu-blog-single-item .mu-blog-description a {
  border-color: #555;
  color: #555;
  font-size: 14px;
  margin-top: 15px;
}
.mu-blog-single-item .mu-blog-description a:hover, .mu-blog-single-item .mu-blog-description a:focus {
  color: #fff;
}

/*==============================================
                        NEWS BLOG END
==========================================*/

/*==========================================================
       Gallery and news footer
===============================================================*/
#newsgalleryfooter {                  
  background-color:#222f3e;
  display: inline;
  float: left;
  width: 100%;
}
#newsgalleryfooter .news-gallery-forea {
  display: inline;
  float: left;
  padding: 15px 0;
  width: 100%;
}
#newsgalleryfooter .news-gallery-forea .negal-header-top-left {
  display: inline;
  float: left;
  width: 100%;
}
#newsgalleryfooter .news-gallery-forea .negal-header-top-left .negal-top-email {
  display: inline;
  float: left;
  font-size: 14px;
  color: #fff;
}
#newsgalleryfooter .news-gallery-forea .negal-header-top-left .negal-top-email i {
  margin-right: 5px;
  color: #e84118;
}
#newsgalleryfooter.news-gallery-forea .negal-header-top-left .negal-top-phone {
  border-left: 1px solid #ddd;
  display: inline;
  font-size: 14px;
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  color: #fff;
}
#newsgalleryfooter .news-gallery-forea .negal-header-top-left .negal-top-phone i {
  margin-right: 2px;
  color: #009432;
}
#newsgalleryfooter .news-gallery-forea .negal-header-top-left .negal-top-phone .fa-phone {
  margin: 0px 10px;
}
#newsgalleryfooter .news-gallery-forea .negal-header-top-right {
  display: inline;
  float: left;
  text-align: right;
  width: 100%;
}
#newsgalleryfooter .news-gallery-forea .negal-header-top-right .negal-top-social-nav {
  display: inline-block;
}
#newsgalleryfooter .news-gallery-forea .negal-header-top-right .negal-top-social-nav li {
  display: inline-block;
}
#newsgalleryfooter .news-gallery-forea .negal-header-top-right .negal-top-social-nav li a {
  background-color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 0 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/*==========================================================
       End Gallery and news footer
===============================================================*/




/*=============================================================
                      Siraj Zia
                      sirajzia721@gmail.com
==============================================================*/



