{% extends 'dashboard/dashboard_index.html'%}
{% load static %}
{%block title %}  Dashboard news  {%endblock%}


{% block content %}
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-file-text-o"></i>News Section</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
          <li><i class="icon_document_alt"></i>School info</li>
          <li><i class="fa fa-file-text-o"></i>School Basic Info</li>
          <li><i class="fa fa-rss"></i>News Section</li>

        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            News Blog
          </header>

          {% if messages %}
          <ul class="messages">
           {% for message in messages %}
           <li><div class="alert alert-success alert-dismissible">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong class="bold">Success!</strong> {{message}}
          </div></li>

           {% endfor %}
          </ul>
          {% endif %}

            <div class="panel-body">
              <form class="form-horizontal " method="Post" action='{% url 'register_teacher'%}' enctype='multipart/form-data' id="form1">
                {% csrf_token%}


                     <h3 style="color: #0984e3; text-align: center;">Teachers Information</h3>
                     <div class="form-group">
                  <label class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" name="teacher_name" required>
                    <span class="help-block">Teacher Name</span>
                  </div>
                  <label class="col-sm-2 control-label">Qualification</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" name="teacher_qual" required>
                    <span class="help-block">Qualification/Designation in school</span>
                  </div>
                  <label class="col-sm-2 control-label">Picture</label>
                  <div class="col-sm-2">
                    <input type="file" class="form-control" name="teacher_img" required>
                    <span class="help-block">Teacher Pic</span>
                      <input type="hidden" class="form-control" name="school" value="{{object.id}}">
                        <!-- <input type="hidden" class="form-control" name="s_slug" value="{{object.slug}}"> -->
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Introduction</label>
                  <div class="col-sm-10">
                    <textarea class="col-lg-12" style="height: 100px;" name="teacher_intro" required></textarea>
                    <span class="help-block">Commplete introduction of teacher</span>

                  </div>

                </div>


                <div class="input-group control-group after-add-more"  style="margin-left: 33%;">
                    <div class="input-group-btn">
                  <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add More </button>
               </div>
               </div>
</form>


               <div class="copy hide">
                 <form class="form-horizontal " method="Post" action='{% url 'register_teacher'%}' enctype='multipart/form-data' id="form2">
                   {% csrf_token%}

               <div class="control-group input-group" style="margin-top:10px">
                 <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" name="teacher_name" required>
                <span class="help-block">Teacher Name</span>
              </div>
              <label class="col-sm-2 control-label">Qualification</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" name="teacher_qual" required>
                <span class="help-block">Qualification/Designation in school</span>
              </div>
              <label class="col-sm-2 control-label">Picture</label>
              <div class="col-sm-2">
                <input type="file" class="form-control" name="teacher_img" required>
                <span class="help-block">Teacher Pic</span>
                  <input type="hidden" class="form-control" name="school" value="{{object.id}}">
                    <!-- <input type="hidden" class="form-control" name="s_slug" value="{{object.slug}}"> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Introduction</label>
              <div class="col-sm-10">
                <textarea class="col-lg-12" style="height: 100px;" name="teacher_intro" required></textarea>
                <span class="help-block">Commplete introduction of teacher</span>

              </div>

            </div>
                <div class="input-group-btn" style="float: left; margin-left: 33%;">
            <button class="btn btn-danger remove" type="button" style="padding: 8px 40px;"><i class="glyphicon glyphicon-remove"></i>Remove</button>
          </div>
        </div>
        </form>
      </div>
      <div class="form-group">
              <div class="col-lg-offset-6 col-lg-10">
                <button class="btn btn-primary" type="submit" onclick="submitForms()">Save</button>

              </div>
            </div>

          </div>
        </section>


      </div>
    </div>


            <section class="panel">
              <header class="panel-heading">
                News Tag
              </header>
              <div class="panel-body">
                <input name="tagsinput" id="tagsinput" class="tagsinput" value="Health, Science, Sports, Mathematics, Admission, History, Enviroment" />
              </div>
            </section>
          </div>

<div class="text-right">
  <div class="credits">
      Designed by <a href="">SirajZia</a>
    </div>
</div>
</section>
<script type="text/javascript">

// for addmore pics
$(document).ready(function() {


  $(".add-more").click(function(){
      var html = $(".copy").html();
      $(".after-add-more").after(html);
  });


  $("body").on("click",".remove",function(){
      $(this).parents(".control-group").remove();
  });


});

</script>
</script>
<script type="text/javascript">
  submitForms = function(){
    document.getElementById("form1").submit();
    document.getElementById("form2").submit();
}
</script>
  <!--custom checkbox & radio-->

{% endblock%}
