{% extends 'account/account.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}


{% block content %}

	<div class="limiter">
		{% if messages %}
		<ul class="messages">
		 {% for message in messages %}
		 <li><div class="alert alert-success alert-dismissible">
       <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> {{message}} <strong>Login Here <i class="fas fa-hand-point-down"></i></strong>
    </div></li>

		 {% endfor %}
		</ul>
		{% endif %}

		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'registration/images/image.jpg'%}" alt="IMG">
				</div>
                   <form class="login100-form validate-form" method="post" action="{% url 'login' %}">
										 {% csrf_token %}
					<span class="login100-form-title">Login to Continue</span>
                        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
                      <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="{% url 'reset-password' %}">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136"><span class="txt1">Not Registerd?</span>
						<a class="txt2" href="{% url 'register' %}" style="font-style: bold;">
							Register Here!
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

{% endblock %}
