{% extends 'account/account.html '%}
{% load static %}
{% block title %}
	Login Teche educators
{% endblock %}


{% block content%}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
          <h2 class="alert alert-info">Password has been reset <a href="{% url 'login' %}">Login Here</a></h2>
        <div class="login100-pic js-tilt" data-tilt>
          <img src="{% static 'images/image.jpg' %}" alt="IMG">
        </div>
			</div>
		</div>
	</div>

{% endblock %}
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->


</body>
</html>
